@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Concert+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Concert+One&family=Francois+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Chivo:ital,wght@0,100..900;1,100..900&family=Concert+One&family=Francois+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR */

.home-nav {
    height: 100%;
    background-image: url("./images/6243378.jpg");  
    height: 90vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
   background: black;
   backdrop-filter: blur(10px);
}
.navbar-logo{
    font-family: "Concert One", sans-serif;
    color: rgb(56,239,216);
    color: linear-gradient(90deg, rgba(56,239,216,1) 0%, rgba(7,167,132,1) 35%, rgba(18,178,210,1) 98%);
    letter-spacing: 3px;
    font-size: 2rem;
    text-decoration: none;
    padding-left: 3%;
}
.navbar-logo span{
    color: rgb(219, 32, 32);
}
.navbar-logo:hover{
    color: rgb(56,239,216);
}
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center; 
    gap: 3%;   
}
.navbar-nav.nav-item {
    display: inline-flex;
    justify-content: center; 
}
.nav-link{
    color: white;
    font-family: "Concert One", sans-serif;
    font-size: 20px;
    text-decoration: none;
}

/* HOME *//* HOME *//* HOME *//* HOME *//* HOME *//* HOME */

.home-con {
    padding: 6% 0;
}
.home-content {
    background-color: transparent;
    width: 100%;
    padding: 4%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    opacity: 0; 
    animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.hello-span {
    padding-bottom: 2%;
}
@media (min-width: 425px) {
    .hello-span {
      font-size: 15px;
    }
  }
.hello {
    font-size: 2.5rem;
    padding-bottom: 2%;
}
.hello span {
    font-size: 4rem;
    color:  rgb(212, 59, 169);
    font-family: "Lora", serif;
}
.home-h3 {
    font-size: 2.4rem;
    font-family: "Francois One", sans-serif;
    color: aqua;
    padding-bottom: 3%;   
}
#DCV {
    background-color: rgb(212, 59, 169);
    padding: 1.5% 3% 2% 3%;
    color: black;
    font-weight: bold;
}
#DCV:hover {
    background-color: aqua; 
}
.DCV {
    text-decoration: none;
    color: black;
}
.DCV:hover{
    color: black;
    font-weight: bold;
}


/* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT */

.about-bg{
    background-image: radial-gradient(circle at 69% 86%, rgba(165, 165, 165,0.06) 0%, rgba(165, 165, 165,0.06) 25%,rgba(193, 193, 193,0.06) 25%, rgba(193, 193, 193,0.06) 50%,rgba(221, 221, 221,0.06) 50%, rgba(221, 221, 221,0.06) 75%,rgba(249, 249, 249,0.06) 75%, rgba(249, 249, 249,0.06) 100%),radial-gradient(circle at 49% 76%, rgba(129, 129, 129,0.06) 0%, rgba(129, 129, 129,0.06) 25%,rgba(164, 164, 164,0.06) 25%, rgba(164, 164, 164,0.06) 50%,rgba(200, 200, 200,0.06) 50%, rgba(200, 200, 200,0.06) 75%,rgba(235, 235, 235,0.06) 75%, rgba(235, 235, 235,0.06) 100%),radial-gradient(circle at 22% 64%, rgba(173, 173, 173,0.06) 0%, rgba(173, 173, 173,0.06) 25%,rgba(119, 119, 119,0.06) 25%, rgba(119, 119, 119,0.06) 50%,rgba(64, 64, 64,0.06) 50%, rgba(64, 64, 64,0.06) 75%,rgba(10, 10, 10,0.06) 75%, rgba(10, 10, 10,0.06) 100%),linear-gradient(307deg, rgb(255,255,255),rgb(255,255,255));
}
.about-full{
    padding: 5% 0;
}
.about-h1{
    text-align: center;
    padding-bottom: 3%;
}
.about-h2{
    text-align: center;
    font-weight: bold;
}
.about-p{
    text-align: left;
    padding: 2% 20% 0 20%;
    font-size: 1.2rem;
    font-family: "Lora", serif;
}
.about-bg1{
    background-image: url("./images/about-bg1.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.about-bg2{
    background-image: url("./images/about-bg2.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.about-bg3{
    background-image: url("./images/about-bg3.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.about-bg4{
    background-image: url("./images/about-bg4.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.about-h2last{
    text-align: center;
}
.about-plast{
    text-align: left;
    padding: 2% 0;
    font-size: 1.3rem;
    font-family: "Lora", serif;
}
.about-connect{
    height: 100%;
    background-image: url("./images/6243378.jpg");  
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

/* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT */

.contact-div{
    height: 100%;
    background-image: url("./images/6243378.jpg");  
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 7%;
}
.submit{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.contact-right{
    text-align: left;
    padding-left: 20%;
}
.cr-h{
    font-family: "oswald";
}
.cr-p{
    font-size: 1.5rem;
    margin-bottom: 5%;
}

/* SKILLS *//* SKILLS *//* SKILLS *//* SKILLS *//* SKILLS *//* SKILLS */

.skills{
    padding: 5rem 0 2.5rem 0;
}
.skills  .text{
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
}
.skills .row{
    margin: 1rem 0;
}
.skills .item{
    padding: 0.5rem 0;
    margin: 0.3rem 0;
}
.skills .item-text{
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 1.3rem;
    position: relative;
}
.skills .item-text span:last-child{
    position: absolute;
}

.skills .item-text .w-90{
    margin-left: 85%;
}
.skills .item-text .w-88{
    margin-left: 83%;
}
.skills .item-text .w-85{
    margin-left: 80%;
}
.skills .item-text .w-69{
    margin-left: 64%;
}
.skills .item-text .w-68{
    margin-left: 63%;
}
.skills .item-text .w-73{
    margin-left: 67%;
}
.skills .item-text .w-48{
    margin-left: 43%;
}
.skills .item-text .w-55{
    margin-left: 50%;
}
.skills .item-text .w-72{
    margin-left: 67%;
}
.progress{
    margin: 0.8rem 0;
    border-radius: 10px;
    height: 16px;
    width: 100%;
    background-color: rgb(143, 25, 45);
    overflow: hidden;
}
.progress-bar{
    background-color: rgb(212, 59, 169) !important;
    height: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.progress-bar.w-90{
    width: 90%;
    animation: html 4s;
}
.progress-bar.w-88{
    width: 88%;
    animation: css 4s;
}

.progress-bar.w-85{
    width: 85%;
    animation: bootstrap 4s;
}
.progress-bar.w-69{
    width: 69%;
    animation: javascript 4s;
}

.progress-bar.w-68{
    width: 68%;
    animation: rjs 4s;
}
.progress-bar.w-73{
    width: 73%;
    animation: adobe 4s;
}
.progress-bar.w-48{
    width: 48%;
    animation: node 4s;
}
.progress-bar.w-55{
    width: 55%;
    animation: express 4s;
}
.progress-bar.w-72{
    width: 72%;
    animation: mongodb 4s;
}
@keyframes html{
    0%{
        width:0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width:0%;
    }
    100%{
        width: 88%;
    }
}

@keyframes bootstrap{
    0%{
        width:0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes javascript{
    0%{
        width:0%;
    }
    100%{
        width: 69%;
    }
}
@keyframes rjs{
    0%{
        width:0%;
    }
    100%{
        width: 73%;
    }
}
@keyframes adobe{
    0%{
        width:0%;
    }
    100%{
        width: 73%;
    }
}
@keyframes node{
    0%{
        width:0%;
    }
    100%{
        width: 48%;
    }
}
@keyframes express{
    0%{
        width:0%;
    }
    100%{
        width: 55%;
    }
}
@keyframes mongodb{
    0%{
        width:0%;
    }
    100%{
        width: 72%;
    }
}

/* project *//* project *//* project *//* project *//* project *//* project */

.pro{
    padding: 20px;
}
  
.card {
    transition: transform 0.2s ease-in-out;
}
  
.card:hover {
    transform: scale(1.05);
}
  
.project-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}
  
.card-img-top {
    height: 200px;
    object-fit: cover;
}
  
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: rgb(116, 16, 88);
}
  
.card-text {
    font-size: 0.9rem;
    color: #000000;
}
/* Responsive adjustments */
@media (max-width: 768px) {
    .col-md-4 {
      flex: 0 0 100%; 
      max-width: 100%;
    }
}
/* Link styles */
  .text-decoration-none {
    color: inherit; 
    text-decoration: none;
}
  
.text-decoration-none:hover {
    text-decoration: none;
}
  
.mt-5 {
    margin-top: 3rem;
}
  
.mb-4 {
    margin-bottom: 1.5rem;
}
  
.mb-4:last-child {
    margin-bottom: 0;
}
  
/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */

.footer{
    background-color:black;
    padding: 1% 0 0 0;
    text-align: center;   
}
.footer-container{
    margin: 0 0 0 0;
}
.footer-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    letter-spacing:10px;
    font-size: 1.3rem;
}
.footer-h3{
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: "Oswald", sans-serif;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 0 !important;
    padding-bottom: 2%;
}
